<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "ro" }}">

  {%- include head.html -%}

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="jrjJcN5I"></script>
    

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
	
<script src="/js/jquery.min.js"></script>
{% include comments.html element=".post-content" github_account="sdudnic/sdudnic.github.io" require_cookie_consent="true" %}

  </body>

</html>
